name: CI
 
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
 
env:
  CSV_URL: "dataset.csv"
 
jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
 
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE
      - uses: actions/checkout@v3
 
      # Setup Python 3.12.7
      - name: Set up Python 3.12.7
        uses: actions/setup-python@v4
        with:
          python-version: "3.12.7"
      
      # Check Env Variables
      - name: Check Env
        run: |
          echo $CSV_URL
 
      # Install dependencies
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install numpy==2.3.5 pandas==2.3.3 scikit-learn==1.8.0 imbalanced-learn
          
      # Run automation script
      - name: Run automation script
        run: |
          python preprocessing/automate_fathurazka.py 
 
      # Save dataset to GitHub Repository
      - name: Save dataset to repository
        run: |
          git config --global user.name "${{ secrets.username }}"
          git config --global user.email "${{ secrets.email }}"
          git add .
          git commit -m "Added preprocessed dataset with CI Workflow"
          git push origin main
